body {
	margin: 0;
}
svg {
	width: 100%;
	height: 100%;
	path {
		mix-blend-mode: multiply;
		transition: fill 0.4s ease-out;
	}
}
#ad {
	width: 980px;
	height: 600px;
	position: relative;
	background: url(bg.jpg);
}
#pickers {
	position: absolute;
	bottom: 110px;
	left: 50%;
	background: white;
	padding: 5px;
	border-radius: 100px;
	transform: rotate(90deg) translateY(50%);
	transform-origin: 100% 100%;
}
.picker {
	width: 40px;
	height: 470px;
	background: yellow;
	display: block;
	position: relative;
	float: left;
	border-radius: 100px;
	.handle {
		pointer-events: none;
		left: 50%;
		top: 0;
		position: absolute;
		&.transition {
			transition: transform 0.2s ease-out;
		}
		.dot {
			border-radius: 100%;
			background: white;
			border: 1px solid rgba(0, 0, 0, 0.3);
			width: 20px;
			height: 20px;
			transform: translate(-50%, -50%);
			box-shadow: 3px 0 6px rgba(0, 0, 0, 0.5);
		}
	}
}
#picker-hue {
	background: linear-gradient(
		hsl(0, 90%, 60%),
		hsl(45, 90%, 60%),
		hsl(90, 90%, 60%),
		hsl(135, 90%, 60%),
		hsl(180, 90%, 60%),
		hsl(225, 90%, 60%),
		hsl(270, 90%, 60%),
		hsl(315, 90%, 60%),
		hsl(360, 90%, 60%)
	);
}
#picker-saturation,
#picker-lightness {
	display: none;
}
#picker-saturation {
	background: linear-gradient(hsl(0, 0, 50%), hsl(0, 100%, 50%));
}
#picker-lightness {
	background: linear-gradient(hsl(0, 0, 0%), hsl(0, 0, 100%));
}
@font-face {
	font-family: ginger;
	src: url(F37Ginger-Bold.woff);
}
#text {
	position: absolute;
	top: 0;
	left: 50px;
	background: rgb(255, 255, 255);
	padding: 80px 30px 30px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
	h1 {
		color: #002554;
		font-size: 40px;
		margin: 0;
		font-family: ginger;
		line-height: 1.2em;
	}
	p {
		width: 220px;
		font-size: 22px;
		color: rgba(0, 36, 84, 0.6);
		font-family: ginger;
		margin: 10px 0 0;
	}
}

#bottom {
	background: #002554;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 15px 50px;
	.logo {
		width: 130px;
	}
	.cta {
		background: white;
		color: #002554;
		padding: 11px 40px;
		margin-top: 7px;
		float: right;
		font-family: ginger;
		font-size: 20px;
		// text-transform: uppercase;
		border-radius: 35px;
	}
}
